*{
    text-align: center;
}
table {
margin: auto;
}


table {
    
    background-color: rgb(230, 196, 173); /* Color de fondo */
    border: 3px solid rgb(55, 0, 255); /* Borde azul */
}
.recuadro {
    
    width: 700px;
    height: 140px;
    background-color: rgb(0, 183, 255);
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    display: inline-block;

    
}
th, td {
    border: 2px solid black; /* Bordes en celdas */
    padding: 10px; /* Espaciado interno */
}
th{
    color: rgb(238, 255, 0);
    background-color: aqua;
}

